/*Navbar*/
H1,h2,h3,h4,h5,h6{
  font-family: "Oswald", sans-serif;
font-optical-sizing: auto;
font-weight: 200;
font-style: normal;
}
#call_menu {
  position: fixed;
  bottom: 20px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
  background-color: orange; /* Change color if needed */
  color: white;
  padding: 30px;
  border-radius: 50%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 34px;
  z-index: 1000;
  animation: pulse 1s cubic-bezier(0,0,0,0) 0.3s infinite;
}
#call_menu a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: changeSize 1s cubic-bezier(0,0,0,0) 0s infinite;
}
.call{
  background-color: orange;
  margin: 20px 20px;
  padding: 10px;
  border-radius: 50%;
  position: relative;
  animation: pulse 1s cubic-bezier(0,0,0,0) 0.3s infinite;
}
.call .main_head_call{
  text-shadow: 0 2px 10px black;
  animation: changeSize 1s cubic-bezier(0,0,0,0) 0s infinite;
}
@keyframes pulse{
  0%{ box-shadow: 0 0 0 0 #fdf5da;}
  25%{ box-shadow: 0 0 0 10px #fdf5da;}
  50%{ box-shadow: 0 0 0 20px #fcf2f2;}
  1000%{ box-shadow: 0 0 0 30px #fff;}
}
@keyframes changeSize {
0%{transform: scale(1);}
25%{transform: scale(1.2);}
50%{transform: scale(0.8);}
75%{transform: scale(1.1);}
100%{transform: scale(1);}  
}
.admin>h5>a{
  color: orange;
}
.word{
  color: orange;
  font-weight: bold;
}
.navbar-brand>img{
  height: 50px;

}
.navbar-toggler{
    border: none !important;
    font-size: 1.25em;
}
.nav-item > .active{
    border-bottom: 3px solid orange;
}
.nav-item :hover{
    border-bottom: 3px solid orange;
}
.navbar{
    background-color: white;
    border-radius: 30px ;
}
/*Navbar*/
section >p{
    font-size: 24px;
}
/*Footer*/
.container-foot{
  max-width:1170px;
  margin: auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color: black;
  padding: 70px 0;
}
.footer-col{
  width: 25%;
  padding: 0 15px;
}
.footer-col h4{
  color: orange;
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.footer a{
  color: orange;
  text-decoration: none;
  margin: 5px;
}
.footer a:hover{
  text-decoration: underline;
}
.footer i{
  width: 25px;
  height: 25px;
}
 /*Footer*/
 @media screen and (max-width:348px) {
  .call{
    background-color: orange;
    margin: 20px 20px;
    padding: 10px;
    border-radius: 50%;
    position: relative;
    animation: pulse 1s cubic-bezier(0,0,0,0) 0.3s infinite;
}

.call .main_head_call{
    text-shadow: 0 2px 10px black;
    animation: changeSize 1s cubic-bezier(0,0,0,0) 0s infinite;
}
@keyframes pulse{
    0%{ box-shadow: 0 0 0 0 #fdf5da;}
    25%{ box-shadow: 0 0 0 10px #fdf5da;}
    50%{ box-shadow: 0 0 0 20px #fcf2f2;}
    1000%{ box-shadow: 0 0 0 30px #fff;}
}
 }
 @media screen and (max-width:430px){
  .row{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  #call_menu {
    position: fixed;
    bottom: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    background-color: orange; /* Change color if needed */
    color: white;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 24px;
    z-index: 1000;
    animation: pulse 1s cubic-bezier(0,0,0,0) 0.3s infinite;
}

#call_menu a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: changeSize 1s cubic-bezier(0,0,0,0) 0s infinite;
}

.call{
    background-color: transparent;
    margin: 10px 10px;
    padding: 5px;
    border-radius: 50%;
    position: relative;
    animation: pulse 1s cubic-bezier(0,0,0,0) 0.3s infinite;
}
.call .main_head_call{
    text-shadow: 0 2px 5px black;
    animation: changeSize 1s cubic-bezier(0,0,0,0) 0s infinite;
}
@keyframes pulse{
    0%{ box-shadow: 0 0 0 0 #fdf5da;}
    25%{ box-shadow: 0 0 0 2px #fdf5da;}
    50%{ box-shadow: 0 0 0 5px #fcf2f2;}
    1000%{ box-shadow: 0 0 0 7px #fff;}
}
 }
